$primary: #cdc2c2;
$secondary: #3EC1D3;
$tertiary: #F49D1A;
$quaternary: rgb(235, 83, 83);

$paleta_de_colores:(
    primario: $primary,
    secundario: $secondary,
    terciario: $tertiary,
    cuaternario: $quaternary
);